body{
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}
.logo_image{
    float: right;
    cursor: pointer;
    border: #fff;
}
footer{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.footer-section {
    flex: 1;
    padding: 10px;
}
.footer-section a {
    text-transform: lowercase;
    text-decoration: none;
    color: gold;
}
.footer-section a:hover {
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: aliceblue;
}
p{
    color: #fff;
    font-size: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: #fff;
    font-size: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background-color: black;
}
main {
    min-height: 500px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_image{
    float: right;
    cursor: pointer;
    border: #fff;
}
.nav{
    margin-top: 20px;
display: flex;
justify-content: space-around;
align-items: center;

}

.nav ul{
    width: 500px;
    margin: 0 auto;
    list-style-type:none ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav ul li a{
font-size: 20px;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
color: rgb(255, 255, 255);
}
.nav ul li::after{
    content: '';
    height: 5px;
    width: 0;
    background: #ed9b04;
    bottom: -10px;
    left:0;
    transition: 0.5s;
    position: absolute;
}
.nav ul li:hover::after{
    width: 100%;
}
.accordion{
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .item{
    box-shadow:0 0 32px rgb(101, 100, 100) ;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
  }
  
  .number,
  .text{
    font-size: 24px;
    font-weight: 500;
    color:#d76508
  }
  
  .number{
    color:rgb(102, 74, 74);
  }
  .icon{
    width: 24px;
    height: 24px;
    stroke:rgb(212, 126, 7);
  }
  .hidden-box{
    grid-column: 2;
    display: none;
  }
  .hidden-box p{
    line-height: 1.6;
    margin-bottom: 24px;
  }
  .hidden-box ul{
    color: rgb(20, 18, 178);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .open{
    border-top: 4px solid #c6780b;
  }
  
  .open .hidden-box{
    display: block;
  }
  
  .open .number,
  .open .text{
    color:#b95108;
  }